.tab__panel{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 30px;
}
.tab--child{
    width: 100%;
    max-width: 940px;
    margin: auto;
    padding: 0 10px;
}
.tab--child-table{
    display: table;
}
#cum-rap ul li::after, ul#parent-cinemas li::after, ul#list-day-of-week li::after, ul#list-movies li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: calc(100% - 40px);
    transform: translateX(-50%);
    border-bottom: 1px solid #fff;
    border-bottom-color: rgb(255, 255, 255);
    border-color: rgba(238,238,238,.88);
}
.bg--new{
    padding-top: 120px;
    background-image: url('../../../assets/img/back-news.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.avg__point{
    font-size: 23px;
    background-color: rgba(12,27,54,.8);
    border: 1px solid #1f2e46;
    border-radius: 4px;
    padding: 2px;
    position: absolute;
    top: 12px;
    right: 12px;
    color: #fff;
    width: 54px;
    text-align: center;
    line-height: 0.75;
    font-weight: 700;
}
.avg__point p{
    margin-bottom: 0;
}
.box--card{
    position: relative;
    padding-top: 130%;
    background-position: center, 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}
.info {
    position: relative;
}
.name__film{
    height: 42px;
    max-height: 42px;
    font-size: 17px;
    color: #000;
    line-height: 22px;
    margin-bottom: 0;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.info__film{
    font-size: 13px;
    color: #4a4a4a;
    margin-bottom: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 8px;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.buy__now{
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    border-radius: 4px;
    color: #fff;
    font-size: 18px !important;
    padding: 10px;
    border: 0;
    text-align: center;
    background: #fb4226;
    background: -webkit-linear-gradient(to left,#fb4226,#ce3017 100%);
    background: -o-linear-gradient(to left,#fb4226,#ce3017 100%);
    background: -moz-linear-gradient(to left,#fb4226,#ce3017 100%);
    background: linear-gradient(to left,#fb4226,#ce3017 100%);
}
a.buy__now:hover{
    color: #fff;
    text-decoration: unset;
}
.hide--hover{
    visibility: visible;
    opacity: 1;
    transition: all .2s;
}
.hover--info{
    position: absolute;
    width: 100%;
    height: 100%;
    background: 0 0;
    background: -webkit-linear-gradient(to top,#000,transparent 100%);
    background: -o-linear-gradient(to top,#000,transparent 100%);
    background: -moz-linear-gradient(to top,#000,transparent 100%);
    background: linear-gradient(to top,#000,transparent 100%);
    top: 0;
    border-radius: 4px;
}
/* ungdung */
#ung-dung{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 120px 0 80px 0;
    background-image: url('../../../assets/img/backapp.jpg');
    background-position: center;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
}
#slider-screen{
    position: absolute;
    width: 100%;
    top: 0;
}
.text--left{
    color: #fff;
    font-weight: 700;
    font-size: xx-large;
}
.text--left-small{
    color: #fff;
    font-size: medium;
}
.btn--left{
    background-color: #fb4226;
    padding: 10px 20px;
    color: #fff;
    font-size: medium;
    font-weight: 700;
    border: none;
    border-radius: 4px;
}
.text--app-under{
    color: #fff;
    padding-top: 10px;
}
.text--app-under a{
    color: #fff;
    border-bottom: 1px solid #fff;
}
.text--app-under a:hover{
    text-decoration: none;
}
.app--right{
    position: relative;
}
.img--phone{
    padding: 0 28%;
    width: 100%;
}
#parent-cinemas{
    height: 630px;
    width: 92px;
    float: left;
    border: 1px solid #ebebec;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    scrollbar-width: thin;
    overflow-y: auto;
    overflow-x: hidden;
}
.MuiTableContainer-root{
    scrollbar-width: thin;
}
#list-cinemas, #list-day-of-week{
    float: left;
    height: 630px;
    border-top: 1px solid #ebebec;
    border-bottom: 1px solid #ebebec;
    width: 30%;
    overflow-x: hidden;
    scrollbar-width: thin;
    overflow-y: auto;
}
span.cinema--name{
    font-weight: 600;
    font-size: 14px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
span.color--name{
    display: inline !important;
    color: #8bc541;
    font-size: 14px !important;
}
span.cinema--location{
    height: 32px;
    color: #949494;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
#list-movies{
    float: left;
    min-height: 630px;
    width: calc(100% - 30% - 92px);
    border: 1px solid #ebebec;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
    overflow-y: auto;
    scrollbar-width: thin;
    overflow-x: hidden;
}
.info__movies{
    width: 100%;
    display: flex;
}
.img--film{
    position: relative;
    width: 50px;
    height: 50px;
    background-position: center, 0 0;
    background-size: cover;
    background-repeat: no-repeat;
}
.info--film{
    padding-left: 10px;
    line-height: 1.4;
}
.name--film{
    display: block;
    font-size: 14px;
    font-weight: 600;
}
.showtime{
    padding-top: 10px;
    line-height: 1.4;
}
.detail--film a{
    color: #fb4226 ;
    font-size: 12px;
    text-decoration: none;
}
.detail--film a:hover{
    color: #e63a20de ;
}
.btn--showtime{
    background-color: rgb(233, 230, 230);
    color: rgb(50, 113, 13);
    font-size: 14px;
    font-weight: 600;
    margin: 3px 15px 3px 0;
    padding: 3px 15px;
}
.btn--showtime:hover{
    color: #fff ;
    background-color: #fb4226
}
.time{
    white-space: nowrap;
    overflow-x: auto;
    scrollbar-width: thin;
}
.news--thumbail{
    margin-bottom: 10px;
}
.col--news:nth-child(8n+1), .col--news:nth-child(8n+2){
    width: 50%;
    float: left;
}
.col--news:nth-child(8n+1) .news--thumbail, .col--news:nth-child(8n+2) .news--thumbail,.col--news:nth-child(8n+3) .news--thumbail, .col--news:nth-child(8n+4) .news--thumbail{
    position: relative;
    padding-top: 55%;
}
.col--news:nth-child(8n+3), .col--news:nth-child(8n+4){
    width: 33.33333333%;
    float: left ;
}
.col--news:nth-child(8n+5) .news--thumbail, .col--news:nth-child(8n+6) .news--thumbail, .col--news:nth-child(8n+7) .news--thumbail, .col--news:nth-child(8n+8) .news--thumbail{
    float: left;
    margin-right: 10px;
}
.col--news:nth-child(8n+5) .news--thumbail img, .col--news:nth-child(8n+6) .news--thumbail img, .col--news:nth-child(8n+7) .news--thumbail img, .col--news:nth-child(8n+8) .news--thumbail img{
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 10px;
    position: relative;
}
.col--news:nth-child(8n+5), .col--news:nth-child(8n+6), .col--news:nth-child(8n+7), .col--news:nth-child(8n+8){
    width: 33.33333333%;
    float: left;
}
.col--news:nth-child(8n+5) .news--summary, .col--news:nth-child(8n+6) .news--summary, .col--news:nth-child(8n+7) .news--summary, .col--news:nth-child(8n+8) .news--summary{
    display: none;
}
.col--news, .col--news--detail{
    padding: 0 7.5px;
    margin-bottom: 10px;
}
.news--title{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    height: 42px;
    font-size: 16px;
    transition: color .2s;
    margin-bottom: 5px;
}
.news--summary{
    text-align: justify;
    font-size: 13px;
    color: #4a4a4a;
    padding: 0 5px 0 0;
    line-height: 19px;
    letter-spacing: .17;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 55px;
    margin-bottom: 15px;
}
.news__detail{
    display: flex;
    justify-content: center;
}
.news__detail--content{
    max-width: 840px;
    padding: 0 15px;
}
.news__detail--title{
    max-width: 800px;
    text-align: center;
    margin: auto;
    font-size: 48px;
    margin-top: 9%;
    font-weight: 600;
}
.content{
    margin-top: 40px;
    text-align: justify;
    font-size: 16px;
}

.news--thumbail img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    transition: all .2s;
    position: absolute;
    top: 0;
    left: 0;
}
.line hr{
    max-width: 840px;
    padding: 0 20px 20px 20px;
}
/* newsdetail */
.line{
    width: 90%;
}
.col--news--detail:nth-child(5n+1), .col--news--detail:nth-child(5n+2){
    width: 33.33333%;
    float: left;
}
.col--news--detail:nth-child(5n+1) .news--thumbail, .col--news--detail:nth-child(5n+2) .news--thumbail {
    position: relative;
    padding-top: 55%;
}
.col--news--detail:nth-child(5n+3), .col--news--detail:nth-child(5n+4), .col--news--detail:nth-child(5n+5){
    width: 33.33333333%;
    float: left;
}
.col--news--detail:nth-child(5n+3) .news--thumbail, .col--news--detail:nth-child(5n+4) .news--thumbail, .col--news--detail:nth-child(5n+5) .news--thumbail{
    height: 40px;
    width: 40px;
    float: left;
    margin-right: 10px;
    position: relative;
}
.col--news--detail:nth-child(5n+3) .news--summary, .col--news--detail:nth-child(5n+4) .news--summary, .col--news--detail:nth-child(5n+5) .news--summary{
    display: none;
}
.MuiTableContainer-root::-webkit-scrollbar ,#list-day-of-week::-webkit-scrollbar, #list-movies::-webkit-scrollbar, #list-cinemas::-webkit-scrollbar, #parent-cinemas::-webkit-scrollbar {
    width: 8px;
}
.MuiTableContainer-root::-webkit-scrollbar-track, #list-day-of-week::-webkit-scrollbar-track, #list-movies::-webkit-scrollbar-track, .time::-webkit-scrollbar-track, #list-cinemas::-webkit-scrollbar-track, #parent-cinemas::-webkit-scrollbar-track {
    background: rgba(243, 241, 241, 0.849);
}
.MuiTableContainer-root::-webkit-scrollbar-thumb, #list-day-of-week::-webkit-scrollbar-thumb, #list-movies::-webkit-scrollbar-thumb,.time::-webkit-scrollbar-thumb, #list-cinemas::-webkit-scrollbar-thumb, #parent-cinemas::-webkit-scrollbar-thumb {
    background: rgba(192, 191, 191, 0.842); 
}
.time::-webkit-scrollbar{
    height: 8px;
}
.message{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-weight: 600;
}
.MuiTabs-root span.MuiTabs-indicator{
    background-color: transparent;
}
/* detail movies */
.main--detail{
    background-color: rgb(10, 32, 41);
    display: table;
    width: 100%;
}
.bg-main{
    position: relative;
    padding-top: 40%;
}
.bg-main img{
    position: absolute;
    top: 10px;
    height: 100%;
    filter: blur(20px);
    margin: -11px 0 -5px -10px;
    width: calc(100% + 5px);
}
.content--main{
    transform: translate(0,-70px);
}
.content--info{
    position: absolute;
    top: 50%;
    width: 100%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
}
.film--info, .film--avg{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
}
.film--avg{
    left: 75%;
}
.border--avg{
    width: 125px;
    height: 125px;
    background: #3a3a3a82;
    border: 10.5px solid #999;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: absolute;

}
.border--avg span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
}
.btn--day{
    font-weight: 600;
}
.btn--day:hover{
    color: #fa5238;
}
.news-film{
    color: #fff;
}
.title--content{
    display: inline-block;
    font-weight: 600;
    width: 50%;
}
.info--content{
    display: inline-block;
    width: 30%;
}
.full--content{
    text-align: justify;
    white-space: pre-wrap;
    width: 100%;
}
/* list comment */
#my-rating{
    display: flex;
    justify-content: center;
}
.my-comment{
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
    height: 60px;
    max-width: 580px;
    width: 100%;
    background: #fff;
    border-radius: 4px;
}
#avatar{
    position: absolute;
    opacity: 1;
    margin-left: 15px;
    width: 40px;
    height: 40px;
}
#thinks{
    position: absolute;
    padding-left: 65px;
    color: #9b9b9b;
}
.rating{
    position: absolute;
    right: 3%;
}
.rating span{
    padding-top: 0 !important;
}
@media screen and (max-width: 954px) {
    .tab__panel{
        padding: 30px 15px 0;
    }
}
@media screen and (max-width: 960px) {
    .title--content{
        width: 35%;
    }
    .info--content{
        width: 50%;
    }
}
@media screen and (max-width: 767px) {
    .news__detail--title{
        font-size: 24px;
    }
}
@media screen and (max-width: 600px) {
    #parent-cinemas{
        border: 0;
        border-right: 1px solid #ebebec;
    }
    #list-cinemas{
        border: 0;
        width: calc(100% - 92px);
    }
    #list-movies{
        margin-top: 10px;
        width: 100%;
        border: 0;
        border-top: 1px solid #ebebec;
    }
    .content--main{
        transform: translate(0,30px);
    }
    .main--detail{
        padding-bottom: 90px;
    }
    .title--content{
        width: 55%;
    }
    .info--content{
        width: 45%;
    }
}
